.storyList {
  overflow-x: hidden !important;
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  overflow: auto;
}
.story {
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 12vw;
  height: 200px;
  position: relative;
}

// .story {
//   background-color: #a7a5a5;
//   border-radius: 15px;
//   width: 9vw;
//   height: 200px;
// }

.story .profile-pic {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  object-fit: cover;

  // border: 1px solid #a1a1a1;
  // border-radius: 10px;
}

.story:first-child .profile-pic {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px double #fff;
  outline: 2px solid #fff;
  outline-offset: 3px;
  border-style: double;
  border-radius: 10px;
}

.story:first-child .profile-pic::after {
  content: "+";
  font-size: large;
  color: #1e71a2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story:first-child {
  background-color: #1e71a2;
}
.story:first-child .profile-pic img {
  display: none;
  width: 30px;
  height: 30px;
}

.story .profile-pic img {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px double #fff;
  outline: 2px solid #fff;
  outline-offset: 3px;
  border-style: double;
}
.profile-info p {
  font-size: x-small;
  color: #fff;
  font-weight: 500;
}
.profile-info .current {
  display: none;
}
.story:first-child .profile-info .current {
  display: block;
}
.story:first-child .profile-info .friends {
  display: none;
}
.profile-info {
  position: absolute;
  bottom: -4%;
  left: 28%;
}

@media only screen and (max-width: 600px) {
  .story {
    width: 50vw;
  }
}
@media only screen and (max-width: 900px) {
  .story {
    width: 20vw;
  }
}
