html,
body {
  background-color: #efefef;
}
.dashboard {
  background-color: #efefef;
}
.card {
  border: none;
}
.suggestion .card {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px !important;
}

.suggestion .card-header {
  padding-bottom: 0 !important;
  background-color: #efefef;
  border: none;
}
.suggestion .card-header span {
  color: gray;
  font-weight: 500;
}

.materialize-textarea {
  border-bottom: none;
}
.newPost .card {
  border-radius: 25px;
  padding: 10px !important;
}
.NotificationsList .card {
  background-color: #fff;

  border-radius: 25px;
  padding: 10px !important;
}

.NotificationsList .card-header {
  padding-bottom: 0 !important;
  background-color: #efefef;
  border: none;
}
.NotificationsList .card-header span {
  color: gray;
  font-weight: 500;
}
.postDetails .card-header {
  padding-bottom: 0 !important;
  background-color: #fff;
  border: none;
}
.postDetails .card-footer {
  padding-bottom: 0 !important;
  background-color: #fff;
  border: none;
}
.postsList .card {
  padding: 10px !important;
}

.postsList .card-header {
  border-bottom: none;
  background-color: #fff;
}
.postsList .card-footer {
  border-top: none;
  background-color: #fff;
}
.postsList .card {
  border-radius: 25px;
  padding: 10px !important;
}

.postDetails .createdAt {
  font-size: small;
  color: rgb(167, 166, 166);
}

.postSummary .createdAt {
  font-size: small;
  color: rgb(167, 166, 166);
}

.profileThumbnail {
  background-color: #fff;
}

.profileThumbnail img {
  object-fit: cover;
  border: 4px solid #fff;
}

.post-content {
  padding: 30px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
